In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Assignment I - Basic Python - 3 points

In [2]:
df  = pd.read_csv('BTCUSDT-trades-2022-03-01.csv')

In [3]:
df

,A,Traded Price,Traded Size,Traded Notional,Timestamp,B,C
0,1274557544,43160.01,0.00052,22.443205,1.650000e+12,False,True
1,1274557545,43160.01,0.00182,78.551218,1.650000e+12,False,True
2,1274557546,43160.01,0.00631,272.339663,1.650000e+12,False,True
3,1274557547,43160.00,0.00229,98.836400,1.650000e+12,True,True
4,1274557548,43160.00,0.00739,318.952400,1.650000e+12,True,True
...,...,...,...,...,...,...,...
1048570,1275606114,44550.16,0.00226,100.683362,1.650000e+12,False,True
1048571,1275606115,44550.15,0.00065,28.957597,1.650000e+12,True,True
1048572,1275606116,44550.15,0.00211,94.000816,1.650000e+12,True,True
1048573,1275606117,44550.15,0.00222,98.901333,1.650000e+12,True,True
1048574,1275606118,44550.16,0.00063,28.066601,1.650000e+12,False,True

In [4]:
df.shape

(1048575, 7)

In [5]:
df = df.drop(['A','B','C'],axis = 1)

In [6]:
df

         Traded Price  Traded Size   Traded Notional     Timestamp
0            43160.01      0.00052         22.443205  1.650000e+12
1            43160.01      0.00182         78.551218  1.650000e+12
2            43160.01      0.00631        272.339663  1.650000e+12
3            43160.00      0.00229         98.836400  1.650000e+12
4            43160.00      0.00739        318.952400  1.650000e+12
...               ...          ...               ...           ...
1048570      44550.16      0.00226        100.683362  1.650000e+12
1048571      44550.15      0.00065         28.957597  1.650000e+12
1048572      44550.15      0.00211         94.000816  1.650000e+12
1048573      44550.15      0.00222         98.901333  1.650000e+12
1048574      44550.16      0.00063         28.066601  1.650000e+12

[1048575 rows x 4 columns]

## Assignment II - Simple Forward Looking Market Making Strategy - 5 points

## You may use any Python library you are familiar with to do this, but pandas and backtrader are preferred. Using the above dataset, you are to create a Market Making strategy in Python that uses the above data, and run the following strategy on it:
Bid Size and Offer Size = 1000 USD notional (note, the actual traded base quantity on Binance BTCUSDT is BTC, so you will need to convert the Sizes to the equivalent BTC amount at every quote “refresh”


Buy and Sell Margins = 3 basis points i.e. the distance between your bid or offer quote and the mid market in absolute terms.


Maximum position before hedging = 5000 USD notional i.e. if your position exceeds this either on the buy or sell side, your strategy stops quoting on that side of the market and hedges your position. If your strategy uses a market order to exit the position, you will be rewarded one less point. A passive hedger approach will be rewarded full points upon completion.


You may assume that the latencies in each step of the market maker is 100 milliseconds. A realistic random latency would be closer to the “real” result.


You may assume that the cost of trading is zero i.e. there are no commissions
You may assume that a trade match happens when the trading price “crosses” your bid or offer order, for simplicity.

The output of the trades generated from this strategy should reside in a different dataframe, for the next step. Completion upto this point in the Assignment Set would reward a maximum of 7 points.